body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-size: 13px;
    background: #C6C6C6;
}

/* header */

header {
    margin: 20px auto 0;
    width: 375px;
    border-bottom: 1px solid #C6C6C6;
    background: white;
    border-radius: 5px 5px 0 0;
}

.one {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

#logo {
    width: 127px;
    height: 33.02;
    height: auto;
}

.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

/* posts */

section {
    margin: 0 auto 25px auto;
    width: 375px;
    background: white;
    border-radius: 5px;
}

.post-content {
    border-radius: 0 0 5px 5px;
}

.top {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

p {
    margin:0;
}

span {
    display: block;
    font-weight: bold;
}

.mainPhoto {
    width: 375px;
    margin: 0;
    padding: 0;
}

.bottom {
    padding: 10px;
}

.icon {
    width: 25px;
    padding-right: 10px; 
}

.icons img:hover,
.icons img:active {    
    filter: invert(86%) sepia(5%) saturate(13%) hue-rotate(320deg) brightness(90%) contrast(97%);
}

.comment {
    display: inline;
}

